#x {
	position: absolute;
	right: 2px;
	top: 2px;
	border: 0;
	background-color: red;
	border-radius: 3px;
	cursor: pointer;
	font-size: 14px;
}

#x:hover {
	background-color: rgb(211, 211, 211);
}

#body {
	background-color: black;
	overflow: hidden;
}

#header {
	color: white;
	text-align: center;
	font-family: "Gill Sans", sans-serif;
	letter-spacing: 8px;
}

#main-map {
	margin-top: 2em;
	background-color: black;
	height: 600px;
	border-radius: 3px;
}

.black_overlay {
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index: 1001;
	-moz-opacity: 0.8;
	opacity: .80;
	filter: alpha(opacity=80);
}
.white_content {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 70%;
	height: 70%;
	margin-left: -35%; /* negative half of width above */
	margin-top: -20%; /* negative half of height above */
	box-shadow: 0 0 20px rgba(35, 173, 255, 1);
	background-color: white;
	z-index: 1002;
	padding: 10px 10px 15px;
	border-radius: 3px;
	text-align: center;
	overflow-y: scroll;
}

#marker {
	background-image: url('https://cdn1.iconfinder.com/data/icons/unigrid-bluetone-human-vol-2/60/011_053_athlete_sportsman_skier_olympian_human_avatar-512.png');
	background-color: none;
	background-repeat: no-repeat;
	background-size: contain;
	width: 35px;
	height: 35px;
	border-radius: 50%;
}

.popup-button {
	background-color: rgb(43, 129, 241);
	border: none;
	color: white;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
	margin: 2px;
}

.popup-button:hover {
	background-color: rgba(35, 173, 255, 1);
}

.glow {
	font-size: 80px;
	color: #fff;
	text-align: center;
	-webkit-animation: glow 30s ease-in-out infinite alternate;
	-moz-animation: glow 30s ease-in-out infinite alternate;
	animation: glow 30s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
	from {
		text-shadow: 0 0 10px rgba(35, 173, 255, 1);
	}
}

#lg-weather {
	font-size: 56pt;
	padding-bottom: 25px;
}

#sm-weather {
	font-size: 24pt;
	padding-top: 5px;
	padding-bottom: -10px;
}

#button-wrapper {
	text-align: center;
}

#icon-wrapper {
	margin-bottom: 1em;
	text-align: center;
}

#center-text {
	text-align: center;
	display: block;
}

.text-align-center {
	text-align: center;
}

#main-button {
	text-align: center;
	margin-top: 5em;
}

.svg-wrapper {
	height: 60px;
	margin: 0 auto;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	width: 320px;
	margin-bottom: 500px;
}

.shape {
	fill: transparent;
	stroke-dasharray: 140 540;
	stroke-dashoffset: -474;
	stroke-width: 8px;
	stroke: rgba(35, 173, 255, 1);
}

.text {
	color: #fff;
	font-family: "Gill Sans", sans-serif;
	font-size: 22px;
	letter-spacing: 8px;
	line-height: 32px;
	position: relative;
	top: -48px;
}

@keyframes draw {
	0% {
		stroke-dasharray: 140 540;
		stroke-dashoffset: -474;
		stroke-width: 8px;
	}
	100% {
		stroke-dasharray: 760;
		stroke-dashoffset: 0;
		stroke-width: 2px;
	}
}

.svg-wrapper:hover .shape {
	-webkit-animation: 0.5s draw linear forwards;
	animation: 0.5s draw linear forwards;
}
#weatherBlurb {
	font-size: 24px;
	font-weight: bold;
}

#pane-title {
	font-size: 24px;
	font-weight: bold;
}

li {
	list-style-type: none;
	text-align: left;
}

#forecast-summary {
	text-align: left;
}

.green-text {
	color: green;
}

.orange-text {
	color: orange;
}

.red-text {
	color: red;
}

#footer {
	color: white;
	padding: 20px;
	background-color: rgb(38, 38, 38);
	box-shadow: 0 0 10px rgba(35, 173, 255, 1);
	width: 100%;
	height: 80px;
	position: fixed;
	bottom: 0px;
	left: 0px;
	font-size: 12px;
	border-radius: 3px;
}

#cardBody {
	padding: 0;
	display: table;
}

#weather-detail {
	display: table-cell;
}

canvas {
	position: absolute;
	top: 0;
	left: 0;
}

#logo {
	margin-top: 30px;
	width: 20%;
}

#main-image {
	color: white;
}

.review-div {
	margin-left: 10em;
	margin-right: 10em;
	margin-top: 4em;
	margin-bottom: 3em;
	padding: 3em;
	box-shadow: 0 0 10px rgba(35, 173, 255, 1);
	text-align: left;
}
#review-title-row {
	border-top: 2px solid rgb(0, 166, 255);
	padding-top: 5px;
}

#review-content-row {
	text-align: left;
}

#review-date-container {
	margin-left: auto;
	margin-right: 0;
}

@media only screen and (max-width: 320px) {
	.mapboxgl-popup-content {
		max-width: 250px;
	}
	.mapboxgl-popup-content div {
		padding: 0em;
	}
	.mapboxgl-popup-content p {
		margin: 0.25em 0.25em;
	}
	#light {
		top: 10%;
		left: 50%;
		width: 75%;
		height: 100%;
	}
	#review-light {
		top: 10%;
		left: 50%;
		width: 75%;
		height: 100%;
	}
	#main-map {
		margin-top: 1em;
		background-color: black;
		height: 350px;
		border-radius: 3px;
	}
}
